/*
*/

body
{
   /*background-image: url("https://pics.me.me/yeah-boi-krigoi-twitter-51757182.png");
   background-repeat: no-repeat;
   background-size: 1500px;*/
   font-family: Arial, Helvetica, sans-serif;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}


nav
{
	height: 50px;
	background-color: #57B0E3;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	padding: 20px;

}


nav a {
	line-height: 50px;
	word-spacing: 5em;
	border: groove;
	border-color: black;
	margin-right: 20px;
	margin-left: 20px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: white;

}


nav a:hover
{
	background-color: rgb(230,230, 230);
	border-radius: 100px/20px;
}


nav a:active
{
	background-color: rgb(200,200, 200);
}


p, em, strong
{
	color: black;
}


#logo
{
	width: 100px;
	background-color: white;
	border-color: black;
}




/*partir formulaire*/
form
{
	display: flex;
	flex-direction: column;

}


.conteneur_formulaire
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}




/*2eme colonne  (coordonnées, scolarité...)*/
.autres_informations
{
	background: grey;
}


.autres_info_conteneur, .premiere_formation
{
	background-color: lightgrey;
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.autres_info_conteneur p
{
	align-self: flex-start;
}


h2
{
	align-self: center;
	color: rgb(100, 150, 255);
}


p.gestion
{
	background-color: green;
}

.bac
{
	color: red;
	background-color: blue;
}


.premiere_formation strong
{
	color : black;
}


.premiere_formation img
{
	width: 80px;
	height: auto;
	align-self:  flex-start;
}



.premiere_formation p
{
	color: black;
	background-color: pink;
	align-self: flex-start;
}





.conteneur_bouton
{
	padding: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}



footer
{
	height: 100px;
	background-color: #57B0E3
}


footer p
{
	line-height: 100px;
}

/* h3 + p {color: black;} pour que p suivant h3 soit black
a[title]  pour tout lien <a> avec un attribut title, si on veut preciser lequel exactement => a[title="le titre donné"]

p.gestion, p.management, p.informatique
{
	color: red;
}
*/
