
@font-face{
	font-family: itescia;
	src: url("https://www.itescia.fr/sites/all/themes/bootstrap_itescia/fonts/glyphicons-halflings-regular.woff2");
	font-display: auto;

}

html
{
	min-width: 250px;
}


body
{
   font-family: Arial, Helvetica, sans-serif;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   min-width: 250px;
}



p, em, strong
{
	color: black;
	word-wrap: break-word;
	text-align: left;
}

/*met de l'espace entre les label et les element adjacent horizontalement*/
label
{
		padding-right: 10px;
		padding-left: 10px;
		cursor: pointer;
}



h1
{
	align-self: center;
	color: rgba(0, 0, 0, .8);
	padding: 5px;
	border: 6px ridge rgba(10, 10, 10, .6);
	border-radius: 10px;
	background: linear-gradient(0.47turn ,rgba(250, 10, 10, .4) , rgba(250, 10, 10, .8));
	box-shadow: 10px 8px 5px rgba(0, 0, 0, 0.15);
	transform: skew(-0.03turn, 0.001turn);
}

/*donne mise en forme et centre les h2*/
h2
{
	align-self: center;
	text-align: center;
	color: rgb(100, 150, 255);
	width: 70%;
	max-height: 70px;
	text-decoration: underline;
	padding: 5px;
	border: 6px ridge rgba(100, 150, 250, .6);
	border-radius: 10px;
	background: linear-gradient(0.47turn, rgb(230, 230, 245) ,rgb(200, 200, 215));
	box-shadow: 10px 8px 5px rgba(0, 0, 0, 0.15);
	transform: skew(-0.03turn, 0.001turn);
	overflow:scroll;
}





#logo_header
{
	width: 100%;
	background-color: white;
	border-color: black;
}




header img
{
	text-align: center;
	max-width: 600px;
}



/* 
######################################################################################
######################################################################################
################################## partie nav  #######################################
######################################################################################
######################################################################################
*/
#nav_header
{
	width: 100%;
	background: linear-gradient(rgb(204, 12, 28), rgb(204, 32, 48));
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.15);
}



#nav_header a {

	line-height: 50px;
	color: white;
	font-size: 20px;
	font-family: itescia, Arial, Helvetica, sans-serif;


	padding-right: 20px;
	padding-left: 20px;
	background: none;
	
	position: relative;
	transition-property: background;
	transition-duration: .5s;
	transition-timing-function: ease-out;

}


#nav_header a:hover
{
	background: rgb(220, 220, 235);
	color: black;
}

#nav_header a:visited
{
	color: white;
}
#nav_header a:visited:hover
{
	color: black;
}

#nav_header a:active
{
	background-color: rgb(170,170, 230);
	color: black;
}


/*ajoute une barre apparaissant sous le texte*/
#nav_header a:after
{
	content: "";
	position: absolute;
	bottom: 10px; right: 30px; left: 30px;
	height: 2px;
	background: #B13C2E;
	opacity: 0;
	transform: translateY(20px);
	transition: all .4s;
}

#nav_header a:hover:after, #nav_header a:focus:after
{
	background: black;
	opacity: .6;
	transform: translateY(0);
}

#nav_header a:focus
{
	outline: none;
} 



/* 
######################################################################################
######################################################################################
############################### partie formulaire ####################################
######################################################################################
######################################################################################
*/
form
{
	display: flex;
	flex-direction: column;
}




#conteneur_avant_information
{
	padding: 20px;
	margin: 25px;
	margin-top: 50px;
}

.block_ligne
{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;	
}


.block_colonne
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: space-around;
	overflow: scroll;
}

.block_ligne_autres_info
{
	display: flex;
	justify-content: space-between;	
	margin: 25px;
}



#block_avant_information
{
	justify-content: center;
}


/* 
######################################################################################
########################## separation en deux colonne) ###############################
######################################################################################
*/
.conteneur_formulaire
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	padding-bottom: 20px;
	flex-wrap: nowrap;
}

.conteneur_formulaire>*
{
	margin:15px;
}

@media screen and (max-width:1100px){
	.conteneur_formulaire
	{
		flex-wrap: wrap;
	}
}


/*marge entre les deux colonne*/
.premiere_formation, .autres_informations
{
	margin-left: 25px;
	margin-right: 25px;
}





/* 
######################################################################################
########################## couleur et forme des colonnes  ############################
######################################################################################
*/
#conteneur_avant_information, .premiere_formation, .autres_informations
{
	background: linear-gradient(0.47turn, rgb(220, 220, 235), rgb(180, 180, 180));
	border-radius: 20px/20px;
	box-shadow: 10px 8px 5px rgba(0, 0, 0, 0.15);
	overflow: scroll;
}





/* 
######################################################################################
######## colonnes  (permiere formation; ou coordonnées, scolarité, parrain...) #######
######################################################################################
*/
.premiere_formation_text, .premiere_formation, .autres_informations
{
	display: flex; 
	flex-direction: column;
	padding: 20px;
}


.autres_info_conteneur
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 20px;
	overflow: scroll;
}

.autres_informations_labels, .autres_informations_inputs
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: left;
	overflow: scroll;
}

/*separation des elements label, input et select verticalement*/
.autres_informations_labels label, .autres_informations_inputs input, .autres_informations_inputs select
{
	margin-top: 20px;
}



.autres_informations_labels2
{
	display: flex;	
	justify-content: space-between;
	align-content: center;
	margin:5px;
}
.autres_informations_labels2 div
{
	align-self:  center;
}

.autres_informations_labels3 
{
	display: flex;
	justify-content: space-between;
	align-content: center;
	white-space: nowrap;
}
.autres_informations_labels3 div
{
	align-self: center;
	padding: 10px;
}



input[type="text"], input[type="email"], input[type="tel"], input[type="date"], select
{
	border-radius: 5px/5px;
	box-shadow: 10px 8px 5px rgba(0, 0, 0, 0.15);
}

input[type="radio"]
{
	cursor: pointer;
	box-shadow: 10px 8px 5px rgba(0, 0, 0, 0.15);
}




/*pour les element de classe bac (dans la colonne 1 : premiere formation)*/
.bac
{
	color: black;
	font-size: 20px;
	font-family: Verdana;
	font-weight: 600;
	margin-bottom: 5px;
	margin-top: 15px;
	border: 6px ridge rgba(150, 100, 50, .6);
	border-radius: 5px;
	background: linear-gradient(0.47turn, rgba(250, 10, 10, .4) ,rgba(250, 10, 10, .9));
	box-shadow: 10px 8px 5px rgba(0, 0, 0, 0.15);
	transform: skew(-0.05turn, 0.001turn);
	display: flex;
	justify-content: center;
}


.conteneur_cadre
{
	display: flex;
	justify-content: center;
}

.conteneur_texte
{
	display: flex;
	justify-content: flex-start;
	align-content: center;
}






.specialisation
{
	padding-left: 40px;
}

.separateur
{
	border-top: 2px ridge rgba(100, 100, 100, .8);
	padding-top: 15px;
	text-align: left;
	word-wrap: break-word;
}


/*pour les images gestion, management et informatique (dans la colonne 1 : premiere formation)*/
.premiere_formation img
{
	width: 100%;
	max-width: 70px;
	height: auto;
	transition-property: filter, transform;
	transition-duration: 0.6s;
	transition-timing-function: ease-out;
	-webkit-filter: drop-shadow(10px 8px 5px rgba(0, 0, 0, 0.15));
	filter: drop-shadow(10px 8px 5px rgba(0, 0, 0, 0.15));
}


.premiere_formation img:hover
{
	filter: drop-shadow(10px 8px 5px rgba(0, 0, 0, 0.3));
	transform: skew(-0.03turn);
}





.conteneur_formation, .conteneur_bouton
{
	display: flex;
	flex-direction: row;
	align-content: center;
	padding: 20px;
}

.conteneur_formation, .autres_info_conteneur
{
	background: linear-gradient(rgba(255, 44, 44, 0.4), rgba(255, 44, 44, 0.7));
	margin-top: 20px;
	border: black groove 4px;
	border-radius: 10px;
}



.conteneur_formation div
{
	width: 80%;
}

.conteneur_formation div .bac
{
	align-self: center;
}




/* 
######################################################################################
############################### conteneur bouton #####################################
######################################################################################
*/
.conteneur_bouton
{
	display: flex;
	justify-content: center;
}

.conteneur_bouton input
{
	

	width: 20%;
	height: 30px;
	margin: 20px;
	font-size: 16px;
	font-weight: 500;
	color: white;
	align-self: center;

	transition-property: background, box-shadow, color;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	box-shadow: 10px 8px 5px rgba(0, 0, 0, 0.15);
	border: 2px ridge rgb(204, 12, 28);
	border-radius: 2px;
	background: rgb(204, 12, 28);

}

.conteneur_bouton input:hover
{
	cursor: pointer;
	background: white;
	color: rgb(204, 12, 28);
	box-shadow: 10px 8px 5px rgba(0, 0, 0, 0.35);
}

.conteneur_bouton input:active
{
	background: lightgrey;
	color: black;
}





/* 
######################################################################################
######################################################################################
################################## partie footer #####################################
######################################################################################
######################################################################################
*/

footer
{
	background: linear-gradient(#42494f, #42494d);
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
}


.footer_1
{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.footer_texte
{
	padding: 20px;
	color: white;
	font-weight:600;
}

#nav_footer_reseau_sociaux
{
	align-self: center;
}

#nav_footer_reseau_sociaux, #partenaire_itescia
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 30px;
	margin-bottom: 30px;
}

.footer_separateur
{
	align-self: center;
	width: 90%;
	border-bottom: 1px ridge rgba(222, 222, 222, .8);
	padding-bottom: 15px;
	text-align: left;
	color: white;
	word-wrap: break-word;
}

#partenaire_itescia
{
	background: white;
	justify-content: space-around;
}

#partenaire_itescia a
{
	display: flex;
	justify-content: center;
	align-content: center;
}


#nav_footer_reseau_sociaux a
{
	display: flex;
	justify-content: center;
	align-content: center;
	width: 60px;
	margin-right:10px;
	margin-left:10px;
}

#nav_footer_reseau_sociaux a figure, #partenaire_itescia a figure
{
	display: flex;
	justify-content: center;
	align-content: center;
}



/* 
######################################################################################
################################## partie logo #######################################
######################################################################################
*/
.logo_footer_reseau_sociaux
{
	width: 35px;
	transition-property: width, filter, transform;
	transition-duration: 0.4s;
	transition-timing-function: ease-out;
	align-self: center;
	-webkit-filter: drop-shadow(10px 8px 5px #222);
	filter: drop-shadow(10px 8px 5px #222);
}

.logo_footer_reseau_sociaux:hover
{
	width: 30px;
	filter: drop-shadow(0px 0px 0px #444);
	transform: skew(-0.04turn, 18deg);
}

.logo_partenaire
{
	transition-property: width, filter;
	transition-duration: 0.4s;
	transition-timing-function: ease-out;
}
.logo_partenaire:hover
{
	filter: drop-shadow(10px 8px 5px #222);
}


#logo_itescia
{
	background-color: white;
	align-self: center;
}




#nav_mentions
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
#nav_mentions a
{
	color: white;
	font-size: 14px;
}

.copyright
{
	padding: 10px;
	color: white;
}













