/*
*/

body
{
   /*background-image: url("https://pics.me.me/yeah-boi-krigoi-twitter-51757182.png");
   background-repeat: no-repeat;
   background-size: 1500px;*/
   font-family: Arial, Helvetica, sans-serif;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}


p, em, strong
{
	color: black;
}


#logo
{
	width: 100%;
	background-color: white;
	border-color: black;
}



/*partie nav*/
nav
{
	height: 50px;
	background-color: #57B0E3;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	padding: 20px;

}

nav a {
	width: 10%;
	line-height: 50px;
	word-spacing: 5em;
	border: groove;
	border-color: black;
	color: black;

	margin-right: 20px;
	margin-left: 20px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: white;
	transition-property: background-color, border-radius, width, color;
	transition-duration: 1s;
	transition-timing-function: ease-out;
}


nav a:hover
{
	background-color: rgb(220,220, 220);
	border-radius: 80px /20px;
	width: 20%;
}

nav a:visited
{
	color: red;
}

nav a:active
{
	background-color: rgb(170,170, 230);
	color: black;
}








/*partir formulaire*/
form
{
	display: flex;
	flex-direction: column;
}

/*separation en deux colonne*/
.conteneur_formulaire
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/*marge entre les deux colonne*/
.premiere_formation
{
	margin-right: 10px;
}

.autres_informations
{
	background: lightgrey;
	margin-left: 10px;
}





/* colonne  (permiere formation ou coordonnées, scolarité...)*/
.autres_info_conteneur, .premiere_formation_text, .premiere_formation
{
	background-color: lightgrey;
	display: flex;
	flex-direction: column;
	padding: 20px;
}

/*aligne les paragraphes sur le bord gauche*/
.autres_info_conteneur p, .premiere_formation_text p
{
	align-self: flex-start;
	display: flex;
	justify-content: flex-start;
}

p label
{
		padding-right: 10px;
		padding-left: 10px;
}



h2
{
	align-self: center;
	color: rgb(100, 150, 255);
}


.bac
{
	color: red;
	font-size: 20px;
	font-family: Verdana;
	margin-bottom: 5px;
}


.premiere_formation img
{
	width: 80px;
	height: auto;
	transition-property: width, height;
	transition-duration: 0.6s;
	transition-timing-function: ease-out;
}


.premiere_formation img:hover
{
	width: 120px;
	height: auto;
}

.specialisation
{
  padding-left: 10%;
}


.conteneur_formation, .conteneur_bouton
{
	display: flex;
	flex-direction: row;
	align-content: center;
	padding: 20px;
}

.conteneur_formation
{
	background-color: lightgrey;
}

/*
.conteneur_formation div
{
	background-color: blue;
}*/
.conteneur_formation div
{
	width: 80%;
}

.conteneur_formation div .bac
{
	align-self: center;
}

.conteneur_bouton
{
	justify-content: center;
}






/*partie footer*/
footer
{
	height: 100px;
	background-color: #57B0E3
}


footer p
{
	line-height: 100px;
}

/* h3 + p {color: black;} pour que p suivant h3 soit black
a[title]  pour tout lien <a> avec un attribut title, si on veut preciser lequel exactement => a[title="le titre donné"]

p.gestion, p.management, p.informatique
{
	color: red;
}
*/
